@font-face {
  font-family: Inter;
  src: url('../fonts/Poppins-Italic.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Italic.ttf');
}
